<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'cooking:index' %}">Cooking</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'cooking:index' %}">Home</a>
                    </li>
                </ul>
                <form class="d-flex" role="search" method="get" action="{% url 'cooking:search' %}">
                    <input name="q" class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                    <button class="btn btn-outline-success" type="submit">Search</button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            {% if not request.user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url "cooking:login" %}">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url "cooking:register" %}">Register</a>
                                </li>
                            {% else %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                       aria-expanded="false">
                                        Hello, {{ request.user.username }}
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">My page</a></li>
                                        <li><a class="dropdown-item" href="{% url 'cooking:add_post' %}">Add post</a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="{% url "cooking:logout" %}">Logout</a></li>
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</header>